<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')  %> 
<body>
    <%- include('../partials/header.ejs')  %> 
    

    <main>
        <div class="profile-container">
            
            <div class="item">
                
                <h2>Hello, <%=  user %> </h2>

               <a href="/posters/new"><button >Add New Poster</button></a>
                 
               <div class="reports">
                     <p class="reports-header">REPORTS</p> 
            
                              <% for(let i=0; i < posters.length; i++) { 
                                 
                             const reports = posters[i].reports %>
                             <p> <%= posters[i].name %> <spam id="count"> <%= reports.length %> </spam> </p>
                             <%  if(reports.length > 0){ %>
                             <span id="avatar"><img src="<%= posters[i].img %>"></span>
                             <% }%>
                             <% for(let j=0; j < reports.length; j++) {
                                
                               %>
                              
                              <div class="message-card">
                              <p ><span>From: </span><%= reports[j].name%></p>
                              <p ><span>Message: </span><%= reports[j].message%></p>
                              <p ><span>Contact Info: </span><%= reports[j].contactInfo%></p>
                              </div>
                            <% }
                             } %> 
               
                 </div>
            </div>
        </div>


    </main>
    <%- include('../partials/footer.ejs')  %> 
</body>
</html>