<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')  %> 
<body>
    <%- include('../partials/header.ejs')  %> 
    <a id="logout-button" href="/user/logout"><button>Logout</button></a>
    <main>
        <div class="profile-container">
            <div><h2>Hello, <%=  user %> </h2>
            <div class="reports">
                <% for(let i=0; i < posters.length; i++) { 
                    const reports = posters[i].reports
                    for(let j=0; j < reports.length; j++) {
                   %>
                    
                             <p class="name"><%= reports[j].name%>  </p>
                              <p class="message"><%= reports[j].message%></p>

                  
                    
               
                     <% }
                } %> 
            </div>
            </div>
            <div><a href="/posters/new"><button id="new-button">Add New Poster</button></a></div>
        
        

        </div>


    </main>
    <%- include('../partials/footer.ejs')  %> 
</body>
</html>