<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')  %> 
<body>
    <%- include('../partials/header.ejs')  %> 
    
    <main>
        <div class="bulletin-container snaps-inline">
            <% for(poster of posters) { %> 
                <a class="poster-cell" href="/posters/<%= poster.id  %> " class="poster">
                    <h3 class="status"><%= poster.status  %> <%= poster.type %> </h3>
                    <img src="<%= poster.img  %> ">
                    <div class="view">view</div>
                    <div class="report">REPORT</div>
                  
                </a>
                <% } %> 
        </div>

    </main>
    <%- include('../partials/footer.ejs')  %> 
</body>
</html>