<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')  %> 
<body>
    <%- include('../partials/header.ejs')  %> 
    
    <main>
        <div class="show-container">
<h1>Please <a href="/posters/<%=poster._id%>/report"> <button>REPORT</button></a> if you have seen <%= poster.name  %> </h1>
            <div class="show-poster">
                <div class="description">
                    <h2>Name: <span><%= poster.name  %> </span></h2>
                    <h2>Type: <span><%= poster.type  %> </span></h2>
                    <h2>Sex: <span><%= poster.sex  %> </span></h2>
                    <h2>Location: <span><%= poster.location  %> </span></h2>
                   
                    <h2>Description: <span>"<%= poster.details%>"</span></h2>
                    
                </div>
                <div class="show-img">
                    <h2>Status: <span class="status"><%= poster.status.toUpperCase()  %></span></h2>
                    <img src="<%= poster.img  %> " alt="this is a image of a <%= poster.type  %> ">
                    <h2>Please call: <span><%= poster.number %> </span></h2>
                </div>
            </div>
            <a href="/posters/<%= poster._id %>/edit "><button>Edit</button></a>
        </div>
    </main>
    <%- include('../partials/footer.ejs')  %> 
</body>
</html>